body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.dataGroup{
    width: 350px;
    position: absolute;
    background: white;
    padding: 40px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.dataGroup h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.form-control{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline:none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.form-control:focus{
    width:280px;
    border-color: #2ecc71;

}
.btnCancel{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 10px;
    background: none;
    border: 2px solid #9198e5;
    transition: 0.15s;
    outline: none;
    border-radius: 20px;
    color: black;
}
.btnCancel:hover{
    background: linear-gradient(to left,#e66465, #9198e5);

}
.btnSubmit{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 10px;
    background: none;
    border: 2px solid #9198e5;
    transition: 0.15s;
    outline: none;
    border-radius: 20px;
    color: black;
}

.btnSubmit:hover{
    background: linear-gradient(to left,#e66465, #9198e5);

}
.checkbox{
    margin: 30px 10px 30px;

}
